.knowledgeBaseDetail {
  position: relative;
  .backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #3d3d3d;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
    .icon {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }
}
