.knowledgeBaseDetail {
  position: relative;
  height: 100%;
  .tips {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin-top: -24px;
    margin-bottom: 6px;
    height: 25px;
    position: relative;
    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}
