.KnowledgeManage {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 18px 0;
  }
  .content {
    display: flex;
    width: 100%;
    .tree {
      width: 300px;
      border-right: 1px solid #ebf1fd;
      margin-right: 80px;
    }
    .knowledgeList {
      flex: 1;
      display: flex;
      justify-content: center;
      height: calc(100vh - 56px - 24px - 34px - 32px - 50px);
      .paginationWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 40px;
      }
    }
  }
}
