.review {
  .title {
    font-size: 18px;
    font-weight: 600;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 38px;
  }
  .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #303540;
    margin-bottom: 30px;
  }
  .content {
    overflow: scroll;
    height: calc(100vh - 200px);
  }
}
